<ul>
	<li><%= link_to 'Admin Users' , :action => 'users' %></li>
	<li><%= link_to 'Edit Global Settings', :action => 'globals' %></li>
	<li><%= link_to 'Add/Delete System Notices', :action => 'notices' %></li>
	<li><%= link_to 'View Per-Node Statistics', :action => 'nodes' %></li>
</ul>
