<% content_for 'header' do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= global_conf(request.domain).gmaps_key %>"
      type="text/javascript"></script>
<% end %>

<%= render :partial => 'googlemap', :locals => { :access_nodes => @access_nodes, :routes => @routes, :global => global_conf(request.domain) } %>

