#@#config management
enable.update	<%= @node_settings.update.to_i %>
enable.upgrade	<%= @node_settings.upgrade.to_i %>
enable.force_reboot	<%= @node_settings.force_reboot.to_i %>
enable.rootpwd		<%= @node_settings.node_passwd %>
enable.base		<%= @node_settings.base %>

#@#config wireless
private.ssid	<%= @node_settings.private_ssid %>
public.ssid	<%= @node_settings.public_ssid %>


