<%= error_messages_for :user %>
<% form_for :user do |f| -%>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><label for="Turn oun Privacy"> Keep info private? </label> <%= f.check_box :private %>
</p>

<p><%= submit_tag 'Update' %></p>
<% end -%>
