Welcome to <%= @node.name %>!
<br />
All web traffic will be redirected to the following URL: <br />
<%= @node.redirect_url %><br />

<%= render :partial => "login" %>

<div id="notices">
<h2>Notices</h2>
<div id="inner_notices">
	<%= render :partial => 'notices/notice', :collection => @notices %>
</div>
</div>
