Welcome to <%= @node.name %>!

<%= render :partial => "splash" %>

<div id="notices">
<h2>Notices</h2>
<div id="inner_notices">
	<%= render :partial => 'notices/notice', :collection => @notices %>
</div>
</div>