<div id="splash_control">
Welcome to <%= @node.name %>!
<br />
This node will redirect to the following URL: <br />
<%= @node.redirect_url %>
<br />
<%= render :partial => "splash" %>
</div>
<div id="notices">
<h2>Notices</h2>
<div id="inner_notices">
	<%= render :partial => 'notices/notice', :collection => @notices %>
</div>
</div>
